html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    max-width: 320px;
}

img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

input, button {
    width: 320px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0);;
}

input {
    color: #AC485A;
    background-color: #DCE1EB;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
}